@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "variables";
@import "global";

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  color: $black-3;
  overflow-x: hidden;
  /*key frames*/
  @keyframes moveTop {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(15px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes moveBottom {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-15px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes opacity {
    0%, 25% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: .6;
      transform: scale(1.3);
    }
    70% {
      opacity: .3;
      transform: scale(1.6);
    }
    100% {
      opacity: 0;
      transform: scale(1.8);
    }


  }
  @keyframes moveRotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @import "shared/header";
  @import "shared/shared";
  @import "pages/home";
  @import "pages/about";
  @import "pages/contact";
  @import "pages/review";
  @import "pages/blog";
  @import "pages/auth";
  @import "shared/footer";
}
