@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "variables";
@import "global";

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  color: $black-3;
  @import "shared/header";
  @import "shared/shared";
  @import "pages/home";
  @import "pages/about";
  @import "pages/contact";
  @import "pages/review";
  @import "pages/auth";
  @import "shared/footer";
}
